@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: S-CoreDream-3Light;
}
.month-flower{
    padding: 5px;
}
.about-title{
    padding:20px;
    margin-top:30px;
    margin-bottom: 30px;
    text-align:center;
}
.about-comment{
    margin-bottom:0px;
    color:#5C6365;
}
.about-main-title{
    font-weight: bolder;
    font-size: 30px;
}
.contents {
    padding-left: 10%;
    padding-right: 10%;
}
.about-img{
    margin-bottom: 50px;
}
.explain{
    padding-top:30px;
}
.festival{
    margin-bottom: 30px;
}
