@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: S-CoreDream-3Light;
}
.month-flower{
    padding: 5px;
}
.about1-title{
    padding:20px;
    text-align:center;
}
.about-title{
    margin-top:50px;
    margin-bottom: 50px;
}
.contents {
    padding-left: 10%;
    padding-right: 10%;
}
.about-img{
    margin-bottom: 50px;
}

