.bg-main-footer{
  background-color: #c4dfaa;
  color:black;
/* 원래 96ae7f */
}

.footer-container{
  padding: 40px 10% 40px 10%;
}

.btndesign{
  color: #000;
  padding: 7px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  background: transparent;
}