

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 5px 20px 5px 20px;
  font-size: 17px;
  letter-spacing: 3px;
  border-top: 5px solid #c4dfaa;
  border-bottom: 5px solid #c4dfaa;
  /*display : flex;
  justify-content:center;*/
/* 원래 #b2c773 */
}

.form-inline{
  text-align:right;
  margin-right:20px;
  font-size:30px;
}

.register{
  text-align:right;
  margin: 25px;
  font-family: 'S-CoreDream-3Light';
}

.navbar a:hover{
  text-decoration: none;
}

#log-container{
display: inline-block;
text-align: center;
}

#logo_style{
  height: 100px;
  width: 200px;
  margin-left: 40px;
}

.nav-li{
  margin-left: 7px;
  margin-right: 7px;
  font-size:17px;  
  font-family: 'S-CoreDream-3Light';
  color:black;

}

.drop{
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
font-size:17px;  
font-family: 'S-CoreDream-3Light';
}

.img{
  display: inline;
  margin-bottom: 0px;
}
