.header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_authmenu {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-size: 13px;
    padding: 10px 0 0;
    margin: 0 0 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}


.bg-main-context{
  margin-top:10px;
  padding:70px 250px 70px 250px;
  margin-bottom:10px;
}



.button{
  color: #000;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  background: transparent;
}

.bg-main-footer{
  background-color: #96ae7f;
}


.btndesign{
  color: #000;
  padding: 7px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  background: transparent;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.form-control{
  margin:10px 20px 10px 20px;
}

.bg-login{
padding-top:5px;
padding-bottom:20px;
align-auto:center;
}

.login-container{
align-auto:center;
border-radius:20px;
padding:20px 0px 20px 20px;
}

.form-login{
align-auto:center;
width:100%;
}

.btn-login{
width:400px;
height:60px;
background-color:white;
border: 1px solid grey;
}

.input1{
width:400px;
height:50px;
outline:none;
border-top:none;
border-left:none;
border-right:none;
border-bottom: 1px solid black;
}

#log-container{
display: inline-block;
text-align: center;
}




			