.header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.bg-main-best{
  margin-top:10px;
  maring-bottom:10px;
  padding:70px 150px 70px 150px;
background-color:#e9c778;
/* c4d4d0도 나쁘지 않음 */
}

.bg-main-suggest{
  margin-top:10px;
  maring-bottom:10px;
  padding:70px 150px 70px 150px;
}

.bg-main-context{
  margin-top:10px;
  padding:70px 250px 70px 250px;
  margin-bottom:10px;
}

.pic-container{
  margin-left:100px;
  margin-right:100px;
}

.product-item .overlay .content .name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.product-item .overlay .content .price {
    font-size: 17px;
    margin-bottom: 12px;
}


.product-item .overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.5);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-item .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.product-item .wrapper:hover>.overlay {
    display: flex;
}


.button{
  color: #000;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  background: transparent;
}

.bg-main-footer{
  background-color: #c4d4d0;
/* 원래 96ae7f */
}

#best{
  text-decoration: none;
  color: black;
}

.btndesign{
  color: #000;
  padding: 7px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  background: transparent;
}

.navbar {
  text-align:center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color:#e9c778;
/* 원래 #b2c773 */
}

.form-control{
  margin:10px 20px 10px 20px;
}

.bg-login{
padding-top:5px;
padding-bottom:20px;
align-auto:center;
}

.login-container{
align-auto:center;
border-radius:20px;
padding:20px 0px 20px 20px;
}

.form-login{
align-auto:center;
width:100%;
}

.btn-login{
width:400px;
background-color:white;
border: 1px solid grey;
}

.input1{
width:400px;
height:50px;
outline:none;
border-top:none;
border-left:none;
border-right:none;
border-bottom: 1px solid black;
}

#log-container{
display: inline-block;
text-align: center;
}

#logo_style{
  height: 78px;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.bg-aboutus{
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 85px;
  margin-top: 85px;
  margin-left: 150px;
  margin-right:150px;
}

.img{
  display: inline;
  margin-bottom: 0px;
}

.nav-li{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
font-family: 'Nanum Gothic', sans-serif;
}

.container{
  margin-left: 500px;
}

.register{
  margin-top: 15px;
  font-family: 'S-CoreDream-3Light';
}

a:hover{
  text-decoration: none;
}

.title{
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-family: 'S-CoreDream-3Light';
}

.bestprice{
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
}

#about{
  font-family: 'S-CoreDream-3Light';
}

.name{
  font-family: 'S-CoreDream-3Light';
  font-weight: bold;
}

.price{
font-family: 'Nanum Gothic', sans-serif;
}




			