.title {
    margin-top:20px;
    margin-bottom:20px;
   padding-top:10px;
padding-bottom:10px;

}
.contents{
    padding:20px;
}
.product{
    margin:10px;
}
#MakingBouquet{
    padding-left: 30px;
    padding-right: 30px;
}
.choosing{
    padding-left: 30px;
    padding-right: 30px;
}
.thumbnail {
    margin:10px;
    height:80px;
    width:100px;
}
.color{
    margin:10px;
    height:50px;
    width:50px;
}
.buy{
    padding:30px;

}
button{
  background-color: white;
  border: 2px solid grey;
}

.preview{
          width:450px;
          height:450px;
          border:2px solid silver;
}

.preview img {
          position: absolute;
          width:100px;
}


.buy-item{
    background-color:#AABBE5;
     font-family: 'S-CoreDream-3Light';
    color:white;
    margin: 10px;
    padding: 10px;
    font-weight:bolder;
    border: 0px;
}

.img-responsive{
  width: 100px;
  height: 110px;
}
#flower1, #flower2,#flower3,#flower4,#flower5,#flower6,#flower7,#flower8{
  text-align: center;
}
