
.box{
  border:1px solid grey;
  width: 22%;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  float: left;

}

.box_font{
  font-size: 8px;
}

.fas, .far {
  font-size: 35px;
  color: grey;
}

h5 {
  font-weight: bold;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

}
.header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_authmenu {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-size: 13px;
    padding: 10px 0 0;
    margin: 0 0 0 auto;
}

.button{
  color: #000;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  background: transparent;
}

.bg-main-footer{
  background-color: #96ae7f;
}


.btndesign{
  color: #000;
  padding: 7px 10px;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  background: transparent;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
