@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: S-CoreDream-3Light;
}

.outbox {
  margin-top: 100px;
  margin-bottom: 100px;
}

.title{
  border: 1px solid #5c6365;
  background-color: #F4EBF5;
  font-size:30px;
  padding-top: 5px;
  text-align:center;
}

 .state{
   border: 1px solid black;
   font-size:15px;
   padding:20px;
 }

.state-count{
  font-size:20px;
  font-weight:bolder;
  color: #AABBE5;
}

.order_list{
  text-align: center;
}

.mypage-icon{
  font-size:30px;
}

#contact-contents{
  height:200px;
}
.contact-form{
}
