
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

}
.delivery_title{
  font-size: 12px;
  display: inline-block;
  padding-bottom: 10px;
}
.delivery_btn{
  background-color: #fff;
  cursor: pointer;
}


select{
  height: 24px;
  border: 1px solid #d5d5d5;
}


table{
    border-width: 1px;
    border-style: solid;
}

th{
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  background-color:#f6f6f6;
  width: 120px;
  height: 30px;
  padding-left: 10px;
}

td{
  border-width: 1px;
  border-style: solid;
  width:800px;
  margin: 5px 5px 5px 5px;
}
h5{
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
}
h3{
  font-size: 15px;
}
.star{
  display: inline-block;
<<<<<<< HEAD
=======
  float: right;
  margin-top: -30px;
  margin-right: 280px;
>>>>>>> 14b02790ae2070086d07ea4d0c81645677074a36
}

#add1{
  padding-left: 8px;
}
label{
  font-size: 10px;
}
.required{
  display: inline-block;
}

.bigbox{
<<<<<<< HEAD
  width:1000px;
  margin-left: auto;
  margin-right: auto;
=======
  margin-left: 200px;
  margin-bottom: 40px;
  margin-top: 50px;
}
>>>>>>> 14b02790ae2070086d07ea4d0c81645677074a36

}

.address{
  margin: 5px 0px 5px 5px;
}
.rd_btn{
  vertical-align: text-top;
}
.re_name{
  width: 180px;
  height: 30px;
}
.re_box{
    margin: 5px 0px 5px 5px;
}
.addr{
    margin: 5px 0px 5px 5px;
}
.zip_code{
  width: 180px;
  height: 30px;
}
.grid{
  font-size: 11px;
}
.addr1{
  width: 400px;
  height: 30px;
  margin-top: 5px;
}
.ph_box{
    margin: 5px 0px 5px 5px;
}
.ph_num{
  width: 180px;
  height: 30px;

}

.email_box{
  margin: 5px 0px 5px 5px;
}
.email{
  width: 180px;
  height: 30px;
}
.de_box{
  margin: 5px 0px 5px 5px;
}
.de_message{
  width: 450px;
  height: 80px;
}
.email_form{
  display: inline-block;
}
.order_fn{
  margin-top: 20px;
  margin-left: 500px;
}

.btn-login{
width:200px;
height:40px;
background-color:white;
border: 1px solid gray;
}
