@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: S-CoreDream-3Light;
}
.best-product{
    background-color:#F4EBF5;
    padding:30px 200px 30px 200px;
}
.best-product .best-comment{
    color: #5C6365;
    font-size: 10px;
}
.best-product .best-name{
    font-weight: bolder;
    font-size: 17px;
}
.best-product .best-price{
    font-size: 13px;
}
.sale-product{
    background-color:#DFCBE1;
    padding:30px 200px 30px 200px;
}
.sale-product .sale-comment{
    color: #5C6365;
    font-size: 10px;
}
.sale-product .sale-name{
    font-weight: bolder;
    font-size: 17px;
}
.sale-product .sale-price{
    font-size: 13px;
}
img{
    margin-bottom: 15px;
}
.product-list{
    padding:30px 200px 30px 200px;
}
.product-item {
    padding:20px;
}
.original{
    color: #5C6365;
    font-size: 8px;
    text-decoration: line-through;
}
a{
    color: black;
}
a:hover{
    color: #AABBE5;
    text-decoration: underline;
}
a .comment{
    color: #5C6365;
    font-size: 10px;
}
a .name{
    font-weight: bolder;
    font-size: 17px;
}
a .price{
    font-size: 13px;
}
a[id=right]:hover{
    color: #BEC773;
}
a[id=left]:hover{
    color: #BEC773;
}
