@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.title{
    font-family: 'GmarketSansBold';
    background: linear-gradient(to right, #DCE35B, #45b649);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
    font-size:80px;
    margin-top:250px;
}

  .log{
    font-family: 'GmarketSansBold';
    font-size:18px;
    background-color:#c4d4e0;
    margin-top:10px;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
    outline:0;
    width:300px;
    height:60px;
}


.input1{
width:300px;
height:50px;
outline:none;
border-top:none;
border-left:none;
border-right:none;
border-bottom:none;
}

  .formstyle{
      padding-left:350px;
      margin-top:250px;
    }

  .btn-login{
  width:400px;
  height:60px;
  background-color:white;
  border: 1px solid grey;
  }

  input::placeholder {
    font-family: 'S-CoreDream-3Light';
  }

  a:hover{
    color:green;
  }

  a:link{
    color:black;
  }

  .introduce{
    margin-left: 100px;
  }
