@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: S-CoreDream-3Light;
}
.sh_body{
  font-size: 13pt;
  width: 100%;
  padding: 50px 0;
}
.sh_bigbox{
  width:80%;
  margin:0 auto;
  padding-left:50px 50px;
  background-color: #fff;
  margin-top:50px;
}
.sh_box_title{
  font-weight:bold;
  font-size:20px;
  padding:10px;
}

.title{
  font-size: 16pt;
  font-weight: bold;
  padding-bottom: 10px;
}

.inbox_tr{
  height: 90px;
  background-color: #fff;
}
.inbox_td{
  text-align: left;
  text-align: center;
  border-right: none;
}
.inbox_td2{
  border-left: none;
  border-right: none;
}
.inbox_td3{
  text-align: left;
  padding: 10px;
  border-left: none;
  font-weight: bold;
}
.count_num{
  text-align: right;
  width:30px;
  margin-bottom: 5px;
}

.sh_img{
  width:150px;
  height: 150px;
}

table.sh_main{
  clear:both;

  border-collapse: collapse;
  background-color: #F2F5CE;
  width: 100%;
  font-size: 10pt;
}
table.sh_main th{
  border: 1px solid white;
  padding: 10px 0;
    text-align: center;
}
table.sh_main td{
  border: 1px solid #F2F5CE;
  text-align: center;
}

.foot_bt{
  text-align: right;
  font-weight: bold;
}
table.sh_bottom{
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
  font-size: 10pt;
}
table.sh_bottom th{
  border: 1px solid white;
  text-align: center;
}

table.sh_bottom td{
  border: 1px solid white;
  text-align: center;
}

.price{
  font-size: 15pt;
  font-weight: bold;
}

.default{
  background-color: #F2F5CE;
  border-radius: 3px;
}
.default:hover{
  background: #e3e7b4;
  color:white;
  font-weight:bold;
}

#return-buy{
  font-size:20px;
  background-color: #aabbe5;
  font-weight:bold;
  color:white;
}
#return-buy:hover{
  background-color:#8896b8
}
.bt_btn{
  text-align:center;
  margin-bottom:50px;
}
.outbox {
  width:80%;
  margin:0 auto;
  padding-left:50px 50px;
  background-color: #fff;
  margin-top:50px;
}

.title{
  background-color: #F2F5CE;
  font-size:25px;
  padding-top: 15px;
  text-align:center;
}

 .state{
   border: 2px solid #F2F5CE;
   font-size:15px;
   padding:20px;
 }

.state-count{
  font-size:20px;
  font-weight:bolder;
  color: #aabbe5;
}

.order_list{
  text-align: center;
}

.mypage-icon{
  font-size:30px;
}

.mypage-title{
  font-size:25px;
  font-weight:bold;
}
.contact-form{
  margin-bottom:50px;
}
